<tr data-bind="css: { 'bwf-unsaved-record': highlightNewRecord, 'k-state-selected': row.selected  }, attr: { 'data-bwf-id': row.bwfId }">
    <!-- ko ifnot: gridDisabled -->
        <!-- ko component: { name: 'grid/cells/cc-validation', params: validationConfig() } -->
        <!-- /ko -->
    <!-- /ko -->
    <!-- ko foreach: { data: columns, as: 'column' } -->
        <!-- ko component: { name: $component.componentForCell(column),
             params: { column: column, row: $component.row, typeMetadata: $component.typeMetadata, gridId: $component.gridId, inEditMode: $component.inEditMode, onRender: $component.onCellRendered, gridDisabled: $component.gridDisabled } }
        -->
        <!-- /ko -->
    <!-- /ko -->
    <td class="spacer-cell disable-selection"></td>
</tr>