<div>
    <!-- ko if: isAggregationsSupported -->
    <div class="custom-panel-control" style="height: 120px">
        <div class="panel-side-by-side">
            <div class="flex-no-shrink" data-bind="visible: !formDisabled()">
                <div class="btn-group">
                    <button type="button" class="btn btn-xs btn-primary" data-bind="enable: enableAggregationSelectionRemove, click: removeAggregationSelection">
                        <i class="fa fa-times fa-white"></i>
                    </button>
                </div>
                <div class="bwf-radio-group-horizontal">
                    <input id="aggregationsPositon-top" type="radio" name="aggregationsPositon" data-bind="checked: aggregationsPositon, checkedValue: topValue" /><label for="aggregationsPositon-top" data-bind="text:topLabel"></label>
                    <input id="aggregationsPositon-bottom" type="radio" name="aggregationsPositon" data-bind="checked: aggregationsPositon, checkedValue: bottomValue" /><label for="aggregationsPositon-bottom" data-bind="text:bottomLabel"></label>
                </div>
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-xs btn-danger"
                            data-bind="enable: enableClear, click: clearSelectedAggregations">
                        <i class="fa fa-times fa-white"></i>
                        <span data-bind="text: clearButtonText"></span>
                    </button>
                </div>
            </div>
            <div class="panel-box no-border" data-bind="if: metadata() != null">
                <div class="flex-box max-height embedded-grid"
                     data-bind="component: { name: 'grid/bwf-grid', params: gridConfiguration() }">
                </div>
            </div>
        </div>
        <div class="panel-center-spacer"></div>
        <div class="panel-side-by-side">
            <div class="flex-tall-column" style="height:100%">
                <div class="panel-box" data-bind="foreach: availableProperties">
                    <div class="flex-content">
                        <button class="btn btn-link btn-sm" type="button" data-bind="disable: $parent.formDisabled, click: $parent.propertyClicked, attr: { title: Name }">
                            <span data-bind="text: $parent.getDisplayName(Name) || Name"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko ifnot: isAggregationsSupported -->
    <label disabled="disabled">Aggregations are not supported by this type.</label>
    <!-- /ko -->
</div>
<div data-bind="template: { afterRender: function() { rendered(true) } }"></div>


