<div class="custom-panel-control" id="selectedOrderByContainer">
    <div class="panel-side-by-side">
        <div class="flex-no-shrink" data-bind="visible: !formDisabled()">
            <div class="btn-group">
                <button type="button" class="btn btn-xs btn-primary" data-bind="enable: enableOrderBySelectionMove, click: moveOrderBySelectionToTop">
                    <i class="fa fa-angle-double-up"></i>
                </button>
                <button type="button" class="btn btn-xs btn-primary" data-bind="enable: enableOrderBySelectionMove, click: moveOrderBySelectionUp">
                    <i class="fa fa-angle-up"></i>
                </button>
                <button type="button" class="btn btn-xs btn-primary" data-bind="enable: enableOrderBySelectionMove, click: moveOrderBySelectionDown">
                    <i class="fa fa-angle-down"></i>
                </button>
                <button type="button" class="btn btn-xs btn-primary" data-bind="enable: enableOrderBySelectionMove, click: moveOrderBySelectionToBottom">
                    <i class="fa fa-angle-double-down"></i>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-xs btn-primary" data-bind="enable: enableOrderBySelectionRemove, click: removeOrderBySelection">
                    <i class="fa fa-times fa-white"></i>
                </button>
            </div>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-xs btn-danger"
                        data-bind="enable: enableClear, click: clearOrderBys">
                    <i class="fa fa-times fa-white"></i>
                    <span data-bind="text: clearButtonText"></span>
                </button>
            </div>
        </div>
        <div class="panel-box no-border">
            <div class="max-height flex-box embedded-grid"
                    data-bind="component: { name: 'grid/bwf-grid', params: gridConfiguration() }">
            </div>
        </div>
    </div>
    <div class="panel-center-spacer"></div>
    <div class="panel-side-by-side">
        <div class="max-height"
                data-bind="component: { name: 'ds-explorer-cc-availableProperties', params: data }">
        </div>
    </div>
</div>
<div data-bind="template: { afterRender: function() { rendered(true) } }"></div>