<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Reset Password</title>
    <link href="/content/bootstrap.min.css" rel="stylesheet" />
    <link href="/content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="/content/fontawesome/font-awesome.min.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="@Path['~/content/brady/favicon.ico']">
</head>
<body>

    <div>
        <div class="container">
            <div class="page-header">
                <a href="/"><img id="brandImage" src="@Model.LogoPath" /></a>
            </div>
            <fieldset>
                <legend>Reset Password</legend>
                <div class="col-md-3" data-bind="visible: userResetPasswordAllowed()">
                    <form autocomplete="off" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label" style="font-weight:500;">Username</label>
                            <input class="form-control opal-input" id="usernameForReset" type="text" 
                                   data-bind="value: usernameForReset, enable: enableUserInteraction, hasFocus: true"
                                   maxlength="255" />
                        </div>
                        <div class="form-group">
                            <span id="error" style="display: block; margin-bottom: 10px" 
                                  class="text-danger" data-bind="text: submissionError"></span>
                        </div>
                        <div class="form-group">
                            <span id="success" style="display: block; margin-bottom: 10px"
                                  class="text-success" data-bind="text: submissionConfirmation"></span>
                        </div>
                        <div class="form-group">
                            <button id="submit" class="btn btn-primary btn-xs" data-bind="click: submitRequest, enable: enableUserInteraction">Submit</button>
                            <span class="fa fa-spinner fa-pulse" data-bind="visible: showSpinner"></span>
                        </div>
                    </form>
                </div>
                <div class="col-md-3">
                    <h2 data-bind="visible: !userResetPasswordAllowed(), text: passwordResetNotAllowedMessageText"></h2>
                </div>
            </fieldset>
        </div>
    </div>
    <script type="text/javascript" src="@Path['~/Scripts/jquery-2.0.3.min.js']"></script>
    <script type="text/javascript" src="@Path['~/Scripts/knockout-3.4.2.js']"></script>
    <script type="text/javascript">
        function ForgotPasswordSubmissionViewModel() {
            var self = this;
            self.enableUserInteraction = ko.observable(true);
            self.submissionError = ko.observable('');
            self.submissionConfirmation = ko.observable('');
            self.usernameForReset = ko.observable('');
            self.passwordResetNotAllowedMessageText = '@Model.DisabledMessage';
            self.userResetPasswordAllowed = ko.observable('@Model.AllowUserPasswordReset' === 'True');

            self.showSpinner = ko.pureComputed(function () {
                return !self.enableUserInteraction();
            });

            self.submitRequest = function () {
                self.submissionError('');
                self.submissionConfirmation('');
                self.enableUserInteraction(false);
                var jqxhr = $.ajax({
                    url: '/ext/membership/forgotpassword',
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify( { Username: self.usernameForReset() })
                }).done(function (result) {
                    self.submissionError('');
                    self.submissionConfirmation(result.message);
                    self.enableUserInteraction(true);
                }).fail(function (response) {
                    self.submissionConfirmation('');
                    self.submissionError('Error occurred: ' + response.responseJSON.message);
                    self.enableUserInteraction(true);
                });
            };
        };

        $(document).ready(function () {
            var forgotViewModel = new ForgotPasswordSubmissionViewModel();
            ko.applyBindings(forgotViewModel);
        });
    </script>
</body>
</html>
