<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signed Out</title>
    <link href="/content/bootstrap.min.css" rel="stylesheet" />
    <link href="/content/bootstrap-theme.min.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="@Path['~/content/brady/favicon.ico']">
</head>
<body>

    <div>
        <div class="container">
            <div class="page-header">
                <img src="@Model.LogoPath" />
            </div>
            <div class="jumbotron">
                <h1>Signed Out</h1>
                <p class="lead">@Model.Message</p>
                <a class="btn btn-primary btn-xs" data-bind="click: signIn">Sign In</a>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="@Path['~/Scripts/jquery-2.0.3.min.js']"></script>
    <script type="text/javascript" src="@Path['~/Scripts/knockout-3.4.2.js']"></script>

    <script type="text/javascript">

        function LoggedOutViewModel() {
            var self = this;

            self.signIn = function () {
                console.log('sign in');
                var returnUrl = (window.location.search.split('?returnUrl=')[1] + window.location.hash).split('&reason=')[0];
                window.location = decodeURI(returnUrl);
            };
        };

        $(document).ready(function () {
            var viewModel = new LoggedOutViewModel();
            ko.applyBindings(viewModel);
        });
    </script>
</body>
</html>
