<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Reset Password</title>
    <link href="/content/bootstrap.min.css" rel="stylesheet" />
    <link href="/content/bootstrap-theme.min.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="@Path['~/content/brady/favicon.ico']">
</head>
<body>

    <div>
        <div class="container">
            <div class="page-header">
                <a href="/"><img id="brandImage" src="@Model.LogoPath" /></a>
            </div>
            <fieldset>
                <legend>Reset Password</legend>
                <div class="col-md-3">
                    <form autocomplete="off" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label" style="font-weight:500;">Key from reset confirmation email</label>
                            <input class="form-control" id="tempKey" type="text"
                                   data-bind="hasFocus: true, textInput: tempKey, enable: allowUserInteraction" maxlength="255" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" style="font-weight:500;">Password</label>
                            <input class="form-control" id="Password" type="password"
                                   data-bind="textInput: Password, enable: allowUserInteraction" maxlength="255" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" style="font-weight:500;">Confirm password</label>
                            <input class="form-control" id="confirmPassword" type="password"
                                   data-bind="textInput: confirmPassword, enable: allowUserInteraction" maxlength="255" />
                        </div>

                        <div class="form-group">
                            <span id="error" style="display: block; margin-bottom: 10px"
                                  class="text-danger" data-bind="text: error"></span>
                        </div>
                        <div class="form-group">
                            <span id="success" style="display: block; margin-bottom: 10px"
                                  class="text-success" data-bind="text: submissionConfirmation"></span>
                        </div>
                        <div class="form-group">
                            <button id="submit" class="btn btn-primary btn-xs"
                                    data-bind="click: submitResetDetails, enable: allowUserInteraction">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </fieldset>
        </div>
    </div>
    <script type="text/javascript" src="@Path['~/Scripts/jquery-2.0.3.min.js']"></script>
    <script type="text/javascript" src="@Path['~/Scripts/knockout-3.4.2.js']"></script>

    <script type="text/javascript">

        function ResetPasswordSubmissionViewModel() {
            var self = this;

            self.tempKey = ko.observable('');

            self.Password = ko.observable('');
            self.confirmPassword = ko.observable('');

            self.error = ko.observable('');
            self.submissionConfirmation = ko.observable('');

            self.uniqueKey = ko.observable('@Model.UniqueKey');
            self.allowUserInteraction = ko.observable(true);

            self.submitResetDetails = function () {
                if (self.Password() !== self.confirmPassword()) {
                    self.error("Passwords do not match");
                }
                else {
                    self.allowUserInteraction(false);
                    var jqxhr = $.ajax({
                        url: '/ext/membership/forgotpassword/reset',
                        type: 'POST',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            Password: self.Password(),
                            UniqueKey: self.uniqueKey(),
                            TemporaryKey: self.tempKey()
                        })
                    }).done(function (result) {
                        self.error('');
                        self.submissionConfirmation(result.message);
                    }).fail(function (message) {
                        self.error(message.responseJSON.message);
                        self.allowUserInteraction(true);
                    });
                }
            };
        };

        $(document).ready(function () {
            var resetViewModel = new ResetPasswordSubmissionViewModel();
            ko.applyBindings(resetViewModel);
        });
    </script>
</body>
</html>
