<div>
    <div data-bind="component: { name: 'bwf-transient-notification' }"></div>
    <form class="form-horizontal" role="form">
        <fieldset>
            <legend data-bind="text: title"></legend>
            <label class="control-label" data-bind="text: currentPasswordLabelText"></label>
            <div class="form-group">
                <div class="col-sm-2">
                    <input class="form-control" type="password" data-bind="value: currentPassword, valueUpdate: 'afterkeydown', hasFocus: true" />
                </div>
            </div>
            <label class="control-label" data-bind="text: newPasswordLabelText"></label>
            <div class="form-group">
                <div class="col-sm-2">
                    <input class="form-control" type="password" data-bind="value: newPassword, valueUpdate: 'afterkeydown'" />
                </div>
            </div>
            <label class="control-label" data-bind="text: confirmNewPasswordLabelText"></label>
            <div class="form-group">
                <div class="col-sm-2">
                    <input class="form-control" type="password" data-bind="value: confirmNewPassword, valueUpdate: 'afterkeydown'" />
                </div>
            </div>
            <div class="form-group">
                <span class="text-danger col-sm-12" data-bind="text: doNotMatchMessage"></span>
            </div>
            <div class="form-group">
                <span class="text-danger col-sm-12" data-bind="text: changeFailedMessage"></span>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <button class="btn btn-primary" data-bind="click: changePassword, enable: canChangePassword, text: changeButtonText"></button>
                </div>
            </div>
        </fieldset>

    </form>
</div>
