<!-- ko template: { name: 'bwf-menuTemplate', foreach: $component.menuItems, as: 'menuItem', afterRender: setupMenu } -->
<!-- /ko -->

<script type="text/html" id="bwf-menuTemplate">
    <!-- ko if: ko.unwrap(menuItem).Items.length -->
    <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle top-level-dropdown active">
            <span data-bind="text: menuItem.Text"></span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" data-bind="template: { name: 'bwf-subMenuTemplate', foreach: menuItem.Items, as: 'menuItem' }"></ul>
    </li>
    <!-- /ko -->
</script>

<script type="text/html" id="bwf-subMenuTemplate">

    <!-- ko if: ko.unwrap(menuItem).Items.length -->
    <li class="dropdown-submenu">
        <a class="dropdown-toggle" data-toggle="dropdown" data-bind="text: menuItem.Text"></a>
        <ul class="dropdown-menu" role="menu" data-bind="template: { name: 'bwf-subMenuTemplate', foreach: menuItem.Items, as: 'menuItem' }"></ul>
    </li>
    <!-- /ko -->
    <!-- ko if: !ko.unwrap(menuItem).Items.length -->
    <li>
        <!-- ko if: ko.unwrap(menuItem).OpensInNewTab -->
        <a class="close-on-click" data-bind="attr: { href: menuItem.Link, target:'_blank'} , text: menuItem.Text"></a>
        <!-- /ko -->
        <!-- ko if: !ko.unwrap(menuItem).OpensInNewTab -->
        <a class="close-on-click" data-bind="attr: { href: menuItem.Link} , text: menuItem.Text"></a>
        <!-- /ko -->
    </li>
    <!-- /ko -->
</script>
