<#@ template language="C#" #>
using BWF.DataServices.Metadata.Interfaces;

namespace Template.Domain
{
    public class Model : IHaveId<long>
    {
        public virtual long Id { get; set; }
    }
}
