<#@ template language="C#" #>
using BWF.Hosting.Infrastructure.Interfaces;
using Ninject;

namespace DataServiceDesigner.DataService
{
    public class TemplateDataServiceKernelManipulations : IKernelManipulation
    {
        public void Apply(IKernel kernel)
        { }
    }
}
